//comment not visible in css

/* comment visible in css*/
@import "_btn.scss";
@import "_test-grid.scss";

$primary-color: rgb(13, 190, 163);
$secondary-color: rgb(218, 143, 110);

@mixin margin-auto {
  margin: {
    left: auto;
    right: auto;
  }
}

.content {
  width: 700px;
  margin-top: 80px;

  @include margin-auto;
}

nav {
  background-color: $secondary-color;
  width: 90%;

  @include margin-auto;

  .brand {
    width: auto;
    color: $primary-color;
  }

  h1 {
    margin: 0;
    padding: 0;
  }

  .btn-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 10px;

    li {
      list-style: none;
    }

    .btn-primary {
      background-color: $primary-color;
      padding: 5px;

      a {
        text-decoration: none;
        color: $secondary-color;
      }

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}
.now {
  @include row();
}

.soon {
  @include row();
}

.film {
  @include col(1,3);
}

.intro {
  @include row();

  p {
    @include col(1, 2);
    color: $secondary-color;
  }
}

.top-btn {
  @include back-to-top-btn;
  float: right;
}
